.pwa-toast {
  position: fixed;
  left: 12px;
  right: 12px;
  top: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 16px;
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  border-radius: 12px;
  background: var(--color-bg);
  z-index: 1000;
}
.pwa-toast span {
  flex: 1;
}
.pwa-toast button{
    padding: .2rem .5rem;
    border-radius: 2rem;
    font-size: .8rem;
    border: 2px solid var(--color-primary);
    color: var(--color-text);
    background: var(--color-bg);
}

.pwa-install, .pwa-hint {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 0.6rem 1.2rem;
  background: var(--color-bg);
  color: var(--color-text);
  box-shadow: var(--shadow-card);

  position: fixed;
  left: 12px;
  right: 12px;
  bottom: 80px;
  z-index: 10000000;
}

.pwa-install-logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
}
