.favoritesactions {
  
}
.fav-title{
    display: flex;
    align-items: center;
    gap: .7rem;
}
.fav-number{
    background: var(--color-primary-transparent);
    
    font-size: .8rem;
    border-radius: var(--radius-lg);
    padding: 0 .5rem;
}
.fav-desc{
    color: var(--color-text-secondary);
    padding: .4rem 0;
}